{% layout 'default.liquid' %}
{% block 'content' %}
<h1 class="text-2xl dark:text-white font-bold mb-4">Player Ranking</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          #
        </th>
        <th scope="col" class="px-6 py-3">
          Jogador
        </th>
        <th scope="col" class="px-6 py-3">
          Cashout
        </th>
      </tr>
    </thead>
    <tbody>
      {% for player in ranking %}
        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ forloop.index }}
          </th>
          <td class="px-6 py-4">
            {{ player.player }}
          </td>
          <td class="px-6 py-4">
            {{ player.sum }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
